%nav.app-title.navbar.navbar-expand-md.navbar-light.bg-light
    - if user_signed_in?
        %ul.navbar-nav.ml-auto
            - if current_user.admin_flag?
                = render partial: 'admin/shared/navbar_admin'
            %li.navitem
                = link_to 'プロフィール変更', edit_user_registration_path, class: 'nav-link'
            %li.navitem
                = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
