- breadcrumb :mypage
%h1.mb-5
    = t '.title'


%p 
    = link_to t('.edit_user'), edit_user_registration_path(@user), class: 'btn btn-success'

%p
    = link_to t('.codes'),codes_path, class: 'btn btn-primary'

%p
    = link_to t('.user_item_trades'), user_user_item_trades_path(@user), class: 'btn btn-light'
