- breadcrumb :codes
%h1.mb-5 
    = t '.title'

- if @nintendo_friend_code
    = @nintendo_friend_code.friend_code
    = link_to '編集', edit_codes_nintendo_friend_code_path, class: 'btn btn-success'
- else
    = link_to '登録', new_codes_nintendo_friend_code_path, class: 'btn btn-primary'
