.table{
    .image-icon{
        width: 468px;
        background-size: cover;
        border-radius: 10px;
    }
    .game-title{
        width: 468px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-size: 1.3rem;
    }
}