.user-game-rank--2 {
    background-color: #FF0000;
}
.user-game-rank--1 {
    background-color: #FF5F17;
}
.user-game-rank-0 {
    background-color: #999999;
}
.user-game-rank-1 {
    background-color: #FFFFFF;
}
.user-game-rank-2 {
    background-color: #00FF00;
}
.user-game-rank-3 {
    background-color: #FFD700;
}
.user-game-rank-4 {
    background-color: #00FFFF;
}