- breadcrumb :edit_sale_item_trade_detail, @item_trade_detail.id
%h1.mb-5
    = t('.title')

= render partial: 'item_trade_details/shared/edit', locals: {item_trade_detail: @item_trade_detail, edit_path: edit_sale_item_trade_detail_path, label: :sale_popuarity}