-# item_trade_queue が必要

%h4.mb-2
    = UserMessagePost.human_attribute_name(:message)
= t '.message'
= link_to "詳細へ移動する", user_item_trade_queue_path(id: item_trade_queue.id, user_id: item_trade_queue.user_id), class: 'btn btn-primary btn-block mt-3'