- if item_genre_game.enable_flag?
    = link_to '有効', admin_disable_item_genre_game_path(item_genre_game), method: :post, remote: true, class: 'btn btn-success'
- else  
    = link_to '無効', admin_enable_item_genre_game_path(item_genre_game), method: :post, remote: true, class: 'btn btn-danger'
