- if item_genre_game.enable?
    = button_to t('link_to.enable'), admin_disable_item_genre_game_path(item_genre_game), remote: true, class: 'btn btn-success'
- else  
    = button_to t('link_to.disable'), admin_enable_item_genre_game_path(item_genre_game), remote: true, class: 'btn btn-danger'
